@font-face {
    font-family: 'Akira Expanded Demo';
    src: url('../Akira\ Expanded\ Demo.otf') format('truetype');
}

body {
    margin: 0;
    color: #ffeba7;
    background-color: #1f2029;
}
.top-bar {
    background-color: black;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-text {
    font-size: 24px;
    color: white;
}